
<% provide(:title, 'Sign up') %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			<p>
				<%= f.label :name %><br />
				<%= f.text_field :name , class: "form-control" %>
			</p>

			<p>
				<%= f.label :email %><br />
				<%= f.email_field :email, class: "form-control"  %>
			</p-

			<p>
				<%= f.label :password %><br />
				<%= f.password_field :password , class: "form-control" %>
			</p>

			<p>
				<%= f.label :password_confirmation, "Confirmation" %><br />
				<%= f.password_field :password_confirmation , class: "form-control" %>
			</p>

			<%= f.submit "Create my account" , class: "btn btn-primary form-control" %>
		<% end %>
	</div>
</div>